
body{
 margin: auto;
 padding: 0;
}

/* header styles*/
header{
    background-color:#aad1f2;
    height:200px;
    background-image: url("../img/pattern.png");
    background-repeat: repeat-x;
    z-index: -1;
}

header img{
  width: 200px;
  padding-left: 170px;
  padding-top: 100px;
 
}

main{
    padding:16px;
    
}

h1{
   margin-bottom: 0px; 
}

.small-size{
    margin-top: 0;
    font-size: small;
}

.blue-font-color{
    color: blue;
}

.yellow-background{
    background-color: yellow;
}

ul{
    margin-top: 32px;
}


/* table style*/
  table{
    max-width: 1200px;
  }

  .blueBck-whiteFont {
    color: white;
    font-weight: 300;
    background-color:#80a4f4;
    text-align: left;
  }

  .tr-20Percent{
    width: 20%;
  }

  .blue-tr {
    background-color:#e3eaf9;
  }

  /* footer style */
  footer{
    background-color:#2e2e6b;;
    text-align: center; /* centrare in orizzontale */
    height: 35px;
    line-height: 35px;/* centrare in verticale */
    color: white;
    font-size: smaller;
    margin-top: 32px;
}